/* Global Styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    overflow-x: hidden;
}

header {
    background: url("../Ressources/picturewallpaper.png");
    color: white;
    text-align: center;
    padding: 2em 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.hero {
    background-color: #f5f5f5;
    text-align: center;
    padding: 50px 0;
}

nav {
    background-color: #333;
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 20px 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0,01;
    display: flex;
    /*justify-content: center;*/
}

nav ul ul2 {
    list-style-type: none;
    padding: 0;
    margin: 0,01;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
}

nav ul li a:hover {
    background-color: #575757;
    transform: scale(1.1);
}

nav ul li a.active {
    background-color: #505050;
}

section {
    margin-bottom: 2em;
}

#contact-form button {
    align-self: flex-start;
}

/*DIFFERENT LIEN*/
.actu {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; /* Ajouté pour permettre le wrapping */
    padding: 50px 0;
}

.actu-card {
    width: 700px;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
    margin: 1% 0;
    border-radius: 5px;
    box-sizing: border-box; /* Assure que le padding est inclus dans la largeur */
}

.actu-card img {
    max-width: 100%;
}

.games {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; /* Permet le wrapping */
    padding: 50px 0;
}

.game-card {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
    margin: 1% 0;
    border-radius: 5px;
    box-sizing: border-box; /* Assure que le padding est inclus dans la largeur */
}

.game-card img {
    max-width: 100%;
}

/* Media query pour les écrans plus petits */
@media (max-width: 768px) { /* Vous pouvez ajuster cette valeur selon vos besoins */
    .actu-card {
        width: 100%; /* Les cartes prendront toute la largeur disponible */
        margin-bottom: 20px; /* Ajouter un espace entre les cartes */
    }
}

/* Media query pour les écrans plus petits */
@media (max-width: 768px) { /* Ajustez cette valeur selon vos besoins */
    .game-card {
        width: 100%; /* Les cartes prendront toute la largeur disponible */
        margin-bottom: 20px; /* Ajouter un espace entre les cartes */
    }
}

/*Download*/
.button {
    background-color: #0088f4;
    transition: all 0.5s;
    border: none;
    color: white;
    font-family: "Helvetica";
    border-radius: 5%;
    padding: 10px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
  }
  
  .button:hover {
    transform: scale(1.1);
    background-color: #0032d5;
  }

/*PIED DE PAGE*/
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}

/*CHARGEMENT*/

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #07265f;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.preloader .loader {
  width: 55px;
  aspect-ratio: 1;
  --g1:conic-gradient(from  90deg at 3px  3px ,#0000 90deg,#fff 0);
  --g2:conic-gradient(from -90deg at 22px 22px,#0000 90deg,#fff 0);
  background:var(--g1),var(--g1),var(--g1), var(--g2),var(--g2),var(--g2);
  background-size: 25px 25px;
  background-repeat: no-repeat;
  animation: l7 1.5s infinite;
}

@keyframes l7 {
  0%   {background-position:0    0   ,0 100%,100% 100% }
  25%  {background-position:100% 0   ,0 100%,100% 100% }
  50%  {background-position:100% 0   ,0 0   ,100% 100% }
  75%  {background-position:100% 0   ,0 0   ,0    100% }
  100% {background-position:100% 100%,0 0   ,0    100% }
}

.fondu-out {
    opacity: 0;
    transition: opacity 0.4s ease-out;
}

/*TRANSITION PAGE*/

.fade-in-out {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fade-in-out.active {
  opacity: 1;
}